fastapi
uvicorn
langchain
langchain-community
langchain_openai
sentence-transformers
unstructured
unstructured[local-inference]
huggingface_hub
pdfminer.six
pi-heif
ollama
faiss-cpu
pypdf
python-dotenv
langchain-ollama
pydantic
typing